<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=DESKTOP-LAS06NI\SQLEXPRESS;Initial Catalog=aspnet-WebApp-20210108033050;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
        connectionString="Data Source=DESKTOP-LAS06NI\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
